html{
    width: 100vw;
    height: 100vh;
}
body{
    font-size: 30px;
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: cadetblue;
    background-image: url("./images/background.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(5px);
}
.weblink{
    /* color: rgb(0, 180, 0); */
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.weblink:hover{
    /* color: rgb(0, 220, 0); */
    color: whitesmoke;
}
.maincontent{
    margin-top: 8%;
}
.button_link{
    text-decoration: none;
    color: white;
    background-color: rgb(115, 36, 189);
    padding: 10px 20px;
    font-size: 20px;
    margin: 5px;
}