body{
    text-align: center;
    background-color: cadetblue;
    /*background-color: rgb(94, 105, 204);*/
    font-size: 30px;
    width: 99%;
    height: 100vh;
}
.weblink{
    color: rgb(0, 180, 0);
    font-weight: bold;
}
.weblink:hover{
    color: rgb(0, 220, 0);
}
.maincontent{
    margin-top: 8%;
}